body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; /* el font que viene por default es 16px, si multiplicas eso por x 62.5, el resultado es = 10px, que equivale a = 1rem */
  box-sizing: border-box; /* tamanio incluido los bordes*/
}
body {
  margin: 0;
  height: 100vh;/*que tan abajo ira lo de los derechos se reservan? considerar que puede ir mas abajo de la ventana, asi se hace mas grande y puedes hacer scroll*/
  font-size: 1.6rem; /* tamanio de letra de palabras en cuerpo */
  font-family: Helvetica, Arial, sans-serif; /* opciones de tipos de texto */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {/*tienes el root element en "public">"index.html"*/
  height: 100%;
}
/* Layout,  */
.grid-container { /*referencia al grid container del html */
  display: grid; 
  grid-template-areas:/* definir donde estaran los cuadros*/
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr; /* no hay barra de desplazamiento hacia derecha o izq, es solo de un lado*/
  grid-template-rows: 5rem 1fr 5rem;/* divide el tamanio de la pantalla en 3 secciones, en auto las divide en tres iguales*/
  height: 100%;
}
header {/* conectando al 'header' anterior en grid container */
  grid-area: header;
  background-color: #355C7D; /* este es el color del cuadro*/
}
main {
  grid-area: main;/* conecntando cuerpo grid cotainer*/
  padding: 1rem;/* margen arriba e izq*/
}
footer {
  grid-area: footer;
  background-color: #355C7D;
  color: #ffffff;
}
/* Common */
h1{
    font-size:1.8rem;
    padding: 1rem 0;
}
h2{
    font-size:2rem;
    padding:0.1rem 0;
}
a {
  text-decoration: none;/* quitar lo de azul con los url*/
}
a:hover {
  color: #d8ad37; /* de que color sea ucuando pases el click por las url */
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}

/* Header */
header a {/* los links dentro de header*/
  color: #ffffff;
  padding: 1rem;
}
a.brand {/* definimos brand para titulo y asi referenciamos a que queremos modificar ese en especifico*/
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.row {/* para mover sign in y carrito a la dercha y que esten misma linea que proyecto*/
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center; /*altura dentro de cuadro donde se ubican*/
}
.row.center {
  justify-content: center;/* mover pied e pagina e imagenes*/
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem; /*ocupa 1 de 4, el otro 1 le hace shrinkeable y 25 rem aplica el width de esa columna*/
}
.col-2 {
  flex: 2 1 50rem; /*ocupa 2 columnas de 4*/
}


/* Image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%; /*para que sirva para todas las interfaces, si quito esto no es responsive pero se achica acorde al zoom*/
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {/* para todos los span dentro de rating*/
  color: #f0c040;
  margin: 0.1rem;

}
.rating span:last-child {
  color: #404040;
  margin: 0.5rem;
}

/* Alerta para el inventario*/
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}